
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
  width: 100%;
}

.text {
  padding: 20px;
}

.photo {
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
}

.info{
  max-width: 800px;
  width: 100%;
}

.info p{
  text-align:justify;
}

.info li{
  text-align: left;
  margin: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 15px 60px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px;
}

button:hover {
  background-color: #333;
}